main {
  min-height: 80vh;
}
.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* Header */
.header {
  margin-bottom: 100px;
}
.navbar-brand {
  font-size: 2rem;
}

/* Carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  margin-bottom: 10px;
  border-radius: 48%;
}

.carousel a {
  margin: 0 auto;
}

@media only screen and (max-width: 770px) {
  .carousel-caption {
    position: absolute;
    top: 10px;
  }
  .carousel img {
    height: 200px;
    padding: 10px;
    margin: 40px;
    margin-top: 100px;
    border-radius: 48%;
  }
}
@media screen and (max-width: 580px) {
  .header {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 380px) {
  .carousel img {
    margin-top: 120px;
  }
}

/* @media screen and (max-width: 375px), screen and (max-height: 667px) {
  .carousel-caption {
    bottom: 10px;
  }
  .carousel img {
    margin-top: 400px;
  }
} */
